.float-right{float: right}
.float-left{float: left}
.text-align-center{text-align:center;}
.img-150{width: 150px !important; height:150px !important;}
.account-body .auth-header-box{background-color: #3280dd !important}
.help-block{color: red !important;}